/*style.css (styling the main components)*/

/* ________________________Geral___________________________________*/
body > header {
    /*background-image: url("images/c.jpg") ;   este caminho está mal ... isto seria se tivesse na pasta principal mas tbm não se como fazer tbm */
    background-image: url("c.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    opacity: 0.9;
    margin-bottom: 30px;
    margin-top: 0%;
    padding-top: 5px;
}
body {
  background-color: rgba(197, 220, 228, 0.301);
  font-size: 20px;
  color: rgb(72, 72, 72);
  font-family: 'Raleway', sans-serif;
}


/* Elementos do header */
/*logo*/
#simbolo>img{
  padding: 5px 10px 0 10px;
}

/*titulo*/
body > header h1{
    margin: 0;
    font-size: 2.7em;
}

/* 2ºlinha do header (subtitle + menu)*/
#frase_menu{
  padding: 0px 10px 5px 10px;
}

body > header h2{
  margin: 0;
  text-align: left;
  font-size: 1.4rem;
  padding: 5% 0 0 5px;
}

/*header (menu: about; track inpatient....)*/
body > header a {  
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
} 

#links{
  width: 100%;
  background-color: #555;
  display: flex;
  padding: 0;
  margin-bottom:0%;
  margin-top: 0%;
}

#links li {
  flex-grow: 1;
  text-align: center;
  padding: 20px 0;
  color: white;
  font-size: 20px;
  list-style-type: none;
  
}

#links li:hover {
  background-color: #000;
  transform: scale(1.1);
}

/*__footer_ */
body > footer {
  background-color: #252a2e;
  color: white;
  padding: 1em;
}

body > footer p {
  margin: 0;
}

/* About */
.text-block{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
 .heading{
  text-transform: uppercase;
  padding-left: 45px;
  position: relative;
  font-size: 20px;
  color: #037d71;
  font-weight: 700;
  letter-spacing: 1.5px;
}

 .heading::before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 30px;
  content: '';
  background: #037d71;
}

/* Departments */

.departments .departments_block  a{
    text-decoration: none;
    color: black;
    
}
#speciality_cards p{
  font-size: 15px;
}

#speciality_cards{
  margin: 5px;
	text-align: center;
  font-size: 1.5em;
 /* padding: 0; / não sei porque esta a assumir padding 1 e width 80 px / 
  width: 150px;*/
}


/* _______________________index.html__________________________*/

/*departments*/
.col-6:hover {
  /*transform: scale(1.1);*/
  /*background-color: rgba(131, 221, 206, 0.8);*/
  background-color: rgba(60, 71, 70, 0.322);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.departments{
  margin-top: 40px;
  margin-left: 15%;
}

/* Flex Item */
#speciality_cards {
/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
flex: 1;
margin: 0px;
background: rgb(131, 221, 206);
text-align: center;
font-size: 1.5em;
width: 150px;
}

/*login*/

#logins{
  padding: 1em 0;
  color: black;
}
#login{
  background-image: url("https://img.freepik.com/fotos-gratis/homem-negocios-segurando-medico-icone-e-conexao_110893-1258.jpg?size=626&ext=jpg");
  padding: 1em;
  margin-top: 40px;
  opacity: 0.8;
 /* background-position: left;
  background-repeat: no-repeat;*/
  background-size: cover;
  position: relative;
  max-width: 700px;
  
}

#inpatient{
  background-image: url("https://s.hdnux.com/photos/73/01/67/15474130/3/920x920.jpg");
  background-size: cover;
  padding: 1em; 
  opacity: 0.8;
  margin-top: 40px;
  background-repeat: no-repeat;
  max-width: 700px;
}

/*___________________departement.html_______________________*/

.pagtitle{
  text-align:center;
  font-size:2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding:0.8em;
  background-color: rgba(28, 28, 29, 0.2);
  transition: width 2s;
  
  margin-top: 0;
}

#speciality_cards_dep{
  /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
  flex: 1;
  margin: 5px;
  background: rgb(131, 221, 206);
  text-align: center;
    font-size: 1.5em;
    width: 350px;
  }
/*
  #speciality_cards_dep{
    font-size: 20px;
  }*/
  
  #speciality_cards_dep{
    margin: 15px;
    text-align: center;
    font-size: 1em;
    list-style-type: none;
   /* padding: 0; / não sei porque esta a assumir padding 1 e width 80 px / 
    width: 150px;*/
  }

  #speciality_cards_dep:hover {
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
    transition: 0.4s;
  }
  
/*______________________index_f_login.html_____________*/

#link_profile {
  display: flex;
  padding: 0;
  flex-direction: column;
  margin-top: 0;
}


#link_profile li{
  flex-grow: 1;
  padding: 20px 0;
  font-size: 20px;
  list-style-type: none;
  background-color:White;
  text-align: center;
}
/*
#link_profile li:hover {
  background-color: rgba(0, 0, 0, 0.795);
}*/

#header_profile{
  margin-bottom: 10px;
}

#profile_pag header{
  background-color:White;
  margin: 0;
  padding: 5px;
  text-align: center;
}

#dados *{
  margin-bottom: 5px;
  margin-top: 5px;
}
#profile_pag a{
  color:  rgba(85, 85, 85, 0.795);
  text-decoration: none;
}


#profile_pag li:hover{
  background-color: rgba(132, 111, 151, 0.8); /*#037d5891;*/
  transition: 1s;
}
#profile_pag a:hover{
  color:white;
}


aside{
  border-right: 5px solid #862fe9c0;
  margin-top: 10px;
}

/*
aside li {
  border-right-color: 5px purple;
}*/

/*fotos*/
.circle {
  background-color: #aaa;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*____________________department&Doctors_____________*/
.especialista{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 60%;

  background-color:whitesmoke;
  border-style: solid;
  border-width: 2px 2px 2px 0;
  border-left: 5px solid #862fe9c0;
  list-style-type: none;
}

.especialista:hover {
  background-color: white;
  transform: scale(1.1);
  border-color:  #862fe9c0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}

.especialista h4, .circle{
  margin-right: 10px;
  margin-left: 10px;
}

.Doctors_list{
  background-color: rgba(155, 92, 211, 0.4);
  padding-bottom: 5px;
}

