/* layout.css (positioning the main components),.*/
/*
body {
    width:80rem;
}*/
/*
body{
    display:grid;
    grid-template-rows: [header] 7.3%  [containte] auto [flooter] 7%;
    grid-template-areas: "header "
                         "containte" 
                         "footer"
                        
}*/


body> header> #simbolo{
    display:grid;
    grid-template-columns:[imagem] 0.05fr [nome]auto;
}
body>header img {
    grid-area: imagem;
}

body>header h1 {
    grid-area: nome;
}

#frase_menu{
    display:grid;
    grid-template-columns:[frase] 2fr [aa] 1fr[menu] 5fr;
}

body>header h2 {
    grid-area: frase;
    padding: 5px;
}

#links{
    grid-area: menu;
    float: right;
}

#back{
    display:grid;
    grid-template-columns:[frase] 2fr [aa] auto[back] 5%;
}

#back a{
    grid-area: back;
    font-size: 1rem;

}

#logins {
    display:grid;
    grid-template-columns: [start_login] 2fr [end_login_start_inpatient] 2fr [end_inpatient]; 
    grid-template-areas: "login inpatient_code"
                        
}

#logins > #login{
    grid-area: login;
}

#logins > #inpatient{
    grid-area: inpatient_code;
}

/* Introduction */

.about{
    display:grid;
    margin-left: 15%;
    grid-template-rows: [about_begin] auto [about_end_info_start] auto [info_end];
    grid-template-columns: [start_img] 2fr [end_img_start_text] 3fr [end_text]; 
    grid-template-areas: "about about"
                        "img text"
          
}

.about .hospital-img{
    grid-area: img;
}

.about .text-block{
    grid-area: text;
}

.about .heading{
    grid-area: about;
}

/* Departments */

.departments_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
   /* margin-left: 20%;*/
}

#indexdepartment{
    max-width: 900px;
}

#pagdepartment{
    max-width: 90%;
}

/* Flex Container */
#indexdepartment>.col-6 {
	max-width: 500px;
    display: flex;
    margin:4px;
}

#pagdepartment>.col-6 {
	max-width: 600px;
    display: flex;
    margin:4px;
}


/*
    
body> form{
    display:grid;
    grid-template-columns:[marg]2fr[submition]5fr[cancelation]auto [marg2]2fr;
    grid-template-rows: [title] 2fr [cenas]auto[buttons]1fr;

    grid-template-areas: "margem forms forms margem"
                        "margem forms forms margem"
                        "margem submition cancelation margem";
}
*/

/*______________________index_f_login.html___________________*/
body> #profile_pag{
    display: grid;
  grid-template-columns: [start] 1fr [middle] 4fr [end];
  grid-template-rows: [start] auto [news] 1fr [footer] auto [end];
}

#profile_pag > header {
    grid-column: start / end;
    grid-row: start/news;
  }
  
aside {
    grid-column: start/middle;
    grid-row: start / end;
  }

#profile_pag> p {
    grid-column-start:2;
    grid-column-end:3;
  }
  
  body > footer {
    align-self: end;
  }

/*____________________departement&Doctors_____________*/

.especialista{
    display: grid;
  grid-template-columns: [start] 1fr [middle] 4fr [end];
  grid-template-rows:  [start] auto [info] 2fr [end];
}

.especialista h4{
    grid-column: middle/end;
    grid-row: start/end;
}

.especialista img{
    grid-column: start/middle;
    grid-row: info/end;
}