.slideContainer * {box-sizing: border-box}
.presentation {font-family: Verdana, sans-serif; margin:0}
.mySlide {display: none}
img {vertical-align: middle;}

/* SlideContainer */
.slideContainer {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Caption text */
.descritext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  background-color:rgb(0, 0, 0,0.3);
  
}

.titletext {
  color: #f2f2f2;
  font-size: 25px;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color:rgb(0, 0, 0,0.3);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active, .dot:hover {
  background-color: #717171;
}