/*style.css (styling the main components)*/

/* ________________________Geral___________________________________*/
body > header {
    /*background-color: #45cceec2;*/
    background-image: url(c.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    opacity: 0.9;
    margin-top: 0%;
    margin-bottom: 30px;
    padding-top: 5px;
}
body {
  background-color: rgba(197, 220, 228, 0.301);

  font-size: 20px;
  color: rgb(72, 72, 72);
  font-family: 'Raleway', sans-serif;
}

/* Elementos do header */
/*logo*/
#simbolo>img{
  padding: 5px 10px 0 10px;
}

/*titulo*/
body > header h1{
    margin: 0;
    font-size: 2.7em;
}

/* 2ºlinha do header (subtitle + menu)*/
#frase_menu{
  padding: 0px 10px 5px 10px;
}

body > header h2{
  margin: 0;
  text-align: left;
  font-size: 1.4rem;
  padding: 5% 0 0 5px;
}

/*header (menu: about; track inpatient....)*/
body > header a {  
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
} 

#links {
  width: 100%;
  background-color: #555;
  display: flex;
  padding: 0;
  margin-bottom:0%;
  margin-top: 0%;
}

#links a {
  flex-grow: 1;
  text-align: center;
  padding: 20px 0;
  color: white;
  font-size: 20px;
  
}

#links a:hover {
  background-color: #000;
  transform: scale(1.1);
}

/*__footer_ */
body > footer {
  background-color: #252a2e;
  color: white;
  padding: 1em;
}

body > footer p {
  margin: 0;
}

/* About */
.text-block{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.about .heading{
  text-transform: uppercase;
  padding-left: 45px;
  position: relative;
  font-size: 20px;
  color: #037d71;
  font-weight: 700;
  letter-spacing: 1px;
}

.about .heading::before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 30px;
  content: '';
  background: #037d71;
}


/* Departments */

.departments .departments_block  a{
    text-decoration: none;
    color: black;
    
}
.speciality_cards p{
  font-size: 15px;
}

  
.speciality_cards{
  margin: 5px;
	background: rgb(131, 221, 206);
	text-align: center;
  font-size: 1.5em;
  padding: 0; /* não sei porque esta a assumir padding 1 e width 80 px */ 
  width: 150px;
}



/* _______________________index.html__________________________*/

#logins{
  padding: 1em 0;
  color: black;
}
#login{
  background-image: url("https://img.freepik.com/fotos-gratis/homem-negocios-segurando-medico-icone-e-conexao_110893-1258.jpg?size=626&ext=jpg");
  padding: 1em;
  margin-top: 40px;
  opacity: 0.8;
 /* background-position: left;
  background-repeat: no-repeat;*/
  background-size: cover;
  position: relative;
  max-width: 700px;
  
}

#inpatient{
  background-image: url("https://s.hdnux.com/photos/73/01/67/15474130/3/920x920.jpg");
  background-size: cover;
  padding: 1em; 
  opacity: 0.8;
  margin-top: 40px;
  background-repeat: no-repeat;
  max-width: 700px;
}
