/* forms.css (design for the login and register forms).*/

/*  input fields */
input {
width: 85%;
padding: 10px 20px;
margin: 8px 0;
display: flex;
flex-wrap: wrap;
border: 1px solid #ccc;
box-sizing: border-box;
border-radius: 7px;
}



/*___________________________registo___________________________ */
    
#registo> #register_option, form{
font-family: Arial, Helvetica, sans-serif;
}

#register_choose {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#register_choose> button{
    margin-left: 2%;
}



/* .modal {
display: none; 
position: fixed; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0,0.6); 
padding-top: 60px;
}  */

/* Modal Content/Box */
.ModalContent {
background-color: rgba(255, 255, 255, 0.7);
margin: 5px auto;
max-width: 80%;
max-height: 100%;
margin: 5% auto 15% auto;
}


.ModalContent> header h2{
    text-align: center;
    padding-top: 35px;
    position: relative;
    color: #037d71;
    font-weight: 700;
    letter-spacing: 1px;
}
/*----------layout--------*/

.ModalContent2 {
    margin-left:auto;
    margin-right:auto;
    align-items: center;
}                   
