/* layout.css (positioning the main components),.*/

/* header */
body> header> #simbolo{
    display:grid;
    grid-template-columns:[imagem] 0.05fr [nome] auto [username] 1fr;
    grid-template-rows:[start] 1fr [end];
    grid-template-areas: "imagem nome username"
}
/* "logotipo" */
body>header img {
    grid-area: imagem;
}

/* nome do hospital "Hospital"*/
body>header h1 {
    grid-area: nome;
}

/* nome do utilizado após fazer login*/
#username {
    grid-area: username;
}

/*frase do header e opções*/
#frase_menu{
    display:grid;
    grid-template-columns:[frase] auto  [menu] 1fr;
    grid-template-rows: [content-start] auto [content-end];
    grid-template-areas: "frase menu";
}

/* "The best care just a click away!"*/
body>header h2 {
    grid-area: frase;
    padding: 5px;
}

#hamburger{
    display: none;
  }

/* links/opções do header do index*/
#links{
    grid-area: menu;
    float: right;
}

/*header do registo e do perfil*/
#back{
    display:grid;
    grid-template-columns:[frase-start] 1fr [frase-end] auto [form];
    grid-template-rows: [start]auto [end];
    grid-template-areas:"frase form";

}

.out{
    grid-area: "form";
}

/* "The best care just a click away!"*/
#back> h2{
    grid-area: "frase";
}

/*----------login e inpatient-----------*/
#logins {
    display:grid;
    grid-template-rows: [content-start] auto [content-end];
    grid-template-columns: [start_login] 2fr [end_login_start_inpatient] 2fr [end_inpatient]; 
    grid-template-areas: "login inpatient_code"
                        
}

/* login */
#logins > #login{
    grid-area: login;
}

/* inpatient */
#logins > #inpatient{
    grid-area: inpatient_code;
}

/* Introduction */
.about{
    display:grid;
    grid-template-rows: [about_begin] auto [about_end_info_start] auto [info_end];
    grid-template-columns: [start_img] 2fr [end_img_start_text] 3fr [end_text]; 
    grid-template-areas: "about about"
                          "img text"
          
}

.about .hospital-img{
    grid-area: img;
}

.about .text-block{
    grid-area: text;
}

.about .heading{
    grid-area: about;
}

/* departamentos  */
.departments_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}

/* departamentos do index*/
#indexdepartment{
    max-width: 900px;
}

/* departamentos do department.php*/
#pagdepartment{
    max-width: 90%;
}

/* Flex Container */
#indexdepartment>.col-6 {
	max-width: 500px;
    display: flex;
    margin:4px;
}

#pagdepartment>.col-6 {
	max-width: 600px;
    display: flex;
    margin:4px;
}


/*______________________index_f_login.html___________________*/
body> #profile_pag{

    display: grid;
  grid-template-columns: [start] auto [middle] 1fr [end];
  grid-template-rows: [start] auto [news] 1fr [footer] auto [end];
}

#profile_pag > header {
    grid-column: start ;
    grid-row: start;
  }
  
aside {
    grid-column: start;
    grid-row: news / end;
  }

#profile_pag > #info  {
    grid-column: middle;
    grid-row: start/ end;
  }
  
  body > footer {
    align-self: end;
  }

/* ____________________Prescription ____________________*/
body> #prescription{
    
    max-width: 700px;
    position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: [start] 4fr [middle] 1.5fr [end];
    grid-template-rows: [start] auto [news] auto [end];
}

/*header da prescription*/
#prescription > .header {
    grid-column: start ;
    grid-row: start;
    padding-bottom: 30px;
}

h7.instructions {
    font-size: 12px;
    margin-left: 5%;
}

/* lista de medicamentos da prescription*/
.list_medicines > h6:nth-child(1) {
    padding: 20px;
    border: 1px solid;
    }

div.medication {
        margin-left: 20px;
        border: 1px solid;
        padding-top: 10px;
        padding-bottom: 6px;
}

/* quantidade de cada medicação */
.quantity > h6{
    grid-column: middle;
    grid-row: news;
    margin-left: 0;
    padding: 20px;
    border: 1px solid;
}


/*____________________departement&Doctors_____________*/
/* lista d medicos de cada departamento*/
.especialista{
    display: grid;
  grid-template-columns: [start] auto [middle] 1fr [end];
  grid-template-rows:[start] auto [middle]auto [end];
  grid-template-areas: "image nome"
                        "image info";
 
}

/*nome do medico*/
.especialista > #Dname{
    grid-area:nome;  
}

/* foto do medico*/
.especialista > img{
    grid-area:image; 
    margin-top: 10px;
}

/*informações do medico: mail e numero de telemovel*/
.especialista #info{
    grid-area:info;
}