
/*style_buttons.css (styling of the buttons)*/

/*--------------------buttons-----------------------*/

/* button on hover */
/* log out buttons and back button*/
.out:hover, #out:hover{
color: red;
cursor: pointer;
transform: scale(1.1);
}

/* log out button*/
.out:hover{
  color: red;
  background-color:transparent;
  transform: scale(1.1);
  cursor: pointer;
  }

.out{
  padding: 0;
  margin: 0;
  font-size: 20px;
  list-style-type: none;
  background-color: transparent;
  border-color: transparent;
  text-align: Left;
  color:white;
}

/*buttons */
button:hover {
  opacity: 0.8;
  background-color: rgb(98, 179, 211);
  color: white;
}

/* Set a style submit buttons */
button{
  color: rgb(255, 255, 255);
  padding: 15px 40px;
  margin: 7px 0;
  border: none;
  cursor: pointer;
  font-size: 1em
}

button {
  background-color: rgba(118, 111, 151, 0.8);
  border-radius: 10px;
}


[type=submit]:hover {
  opacity: 0.8;
}

/* submit buttons*/
.enviar{
  background-color: #037d58da;
}

/* cancel buttons*/
.cancel{
  background-color:  rgba(167, 14, 14, 0.705);
  margin-left: 3%;
}

/* position of buttons in forms*/
 form>footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

/* button in appointment file (add_apointment_info.php) */
button.button_appointment{
  color: black;
  margin: 7px 0;
  padding: 8px 20px;
  font-size: 0.7em;
  cursor: pointer;

}

/* button for add a prescription (add_apointment_info.php and impatient_pag.php)*/
button.submit_prescription{
  padding: 8px 20px;
  border: 0 none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 0.7em;
  color:black;
}