
/*style_buttons.css (styling of the buttons)*/

/*--------------------buttons-----------------------*/


/* button on hover */
.out:hover, #out:hover{
color: red;
cursor: pointer;
transform: scale(1.1);
}

.out:hover{
  color: red;
  background-color: #000;
  transform: scale(1.1);
  cursor: pointer;
  }

.out{
  padding: 0;
  margin: 0;
  font-size: 20px;
  list-style-type: none;
  background-color:rgba(85, 85, 85, 0.795);
  border-color: rgba(85, 85, 85, 0.795);
  text-align: Left;
}

/*buttons e X*/
button:hover {
  opacity: 0.8;
  background-color: rgb(98, 179, 211);
  color: white;
}

/* Set a style submit buttons */
button{
  color: rgb(255, 255, 255);
  padding: 15px 40px;
  margin: 7px 0;
  border: none;
  cursor: pointer;
  /* width: 40%; */
  font-size: 1em
}

button {
  background-color: rgba(118, 111, 151, 0.8);
  border-radius: 10px;
}


[type=submit]:hover {
  opacity: 0.8;
}

.enviar{
  /*background-color: #4ba34ef1;*/
  background-color: #037d58da;
}

.cancel{
  background-color:  rgba(167, 14, 14, 0.705);
  margin-left: 3%;
}

 form>footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}